body{
  background: linear-gradient(#7A1CAC, #AD49E1) !important;
  
}
.main{
  padding-left: 100px;
}
.container{
  display: flex;
  padding: 30px;
  gap:20px;

}

.airQuality{
  display:flex;
  flex:1;
  flex-direction: column;
  gap:20px;
}
.title{
  border-radius: 40px;
  background-color: #a06bbc;
  margin:auto;
  width: 150px;
  color:rgb(255, 255, 255);
  font-weight: bold;
  padding-left: 20px;
}

@media (max-width: 600px) {
  .main {
    padding-left: 0px;
  }
}